<!-- <div class="card" style="padding: 50px;">
    <input type="text" [(ngModel)]="name" placeholder="Enter name">
    <br>
    <p>Entered Name : {{name}}</p>
    <br>
    <input type="text" [(ngModel)]="age" placeholder="Enter age">
    <br>
    <p>Entered Age : {{age}}</p>
    <br>
    <button class="btn btn-success" (click)="addMember()">Add Member</button>
</div> -->

<div class="card" style="padding: 50px;">
    <input type="text" [(ngModel)]="name" placeholder="Enter name">
    <br>
    <p>Entered Name: {{name}}</p>
    <br>
    <input type="text" [(ngModel)]="age" placeholder="Enter age">
    <br>
    <p>Entered Age: {{age}}</p>
    <br>
    <button class="btn btn-success" (click)="addMemberToList()">Add Member</button>
  </div>
  

